@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff");
  font-weight: bold;
}

body {


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
  box-shadow: 0 0 40px 2px #dbdbdb;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

/*-----------index.html------------- */
.site-navigation,
.reasons-list,
.reason-features-list,
.sort-properties,
.sort-arrows,
.rate-star,
.footer-social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  width: 1200px;
  min-height: 56px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-navigation {
  position: relative;

  display: flex;
}

.site-navigation {
  display: flex;
  width: 1056px;
  min-height: 56px;
  margin: auto;

  background-color: #ffffff;
}

.site-navigation li {
  margin: auto 0;
  margin-right: 147px;
}

.site-navigation li:nth-child(2) {
  margin: auto 0;
  margin-right: 389px;
}

.site-navigation li:last-child {
  margin: auto 0;
  margin-left: auto;
}

.site-navigation a {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.site-navigation .current {
  color: #766357;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro {
  width: 1200px;
  height: 508px;

  background-color: #81b3d2 ;
  background-image:url(../img/intro-bg-fonts.png), url(../img/intro-bg-bottomline.png), url(../img/intro-bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center 76px, bottom, bottom;
}

.advantages {
  width: 576px;
  padding-top: 60px;
  padding-bottom: 51px;
  margin: 0 auto;

  text-align: center;
}

.advantages h1 {
  margin: 0;
  margin-bottom: 27px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.advantages p {
  margin: 0;

  line-height: 26px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}

.item-reason {
  display: flex;
  flex-wrap: wrap;

  background-color: #81b3d2;
}

.item-reason .reason-description {
  width: 400px;
  min-height: 256px;

  background-color: #81b3d2;
}

.item-reason .reason-image {
  width: 800px;
  height: 256px;
}

.item-reason img {
  display: block;
}

.reason-description {
  text-align: center;
}

.reason-description h2,
.item-reason h2{
  margin: 0;
  margin-top: 47px;
  margin-bottom: 24px;
  padding: 0 100px;


  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
}

.reason-description p {
  margin: 0;
  margin-bottom: 21px;

  color: #ffffff;
}

.reason-description p:nth-child(3) {
  margin: 0;
  padding: 0 60px;

  letter-spacing: 0.2px;
}

.reason-features-list {
  display: flex;

  background-color: #ffffff;
}

.reason-features-list .item-feature {
  display: block;
  width: 400px;
  min-height: 330px;
  text-align: center;
}

.item-feature b {
  position: relative;

  display: block;
  margin: 0;
  margin-top: 161px;
  margin-bottom: 24px;

  font-weight: bold;
  font-size: 21px;
}

.item-feature b::before {
  content: " ";
  position: absolute;
  top: -103px;
  left: 162px;

  width: 75px;
  height: 75px;


  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

li.item-feature:nth-child(2)  b::before {
  left: 160px;

  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

li.item-feature:nth-child(3)  b::before {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.item-feature p {
  margin: 0;
  padding: 0 50px;

  color: #333333;
}

.item-reason-bottom {
  display: block;
  width: 400px;
  min-height: 256px;

  text-align: center;
}

.item-reason-bottom h2{
  margin: 0;
  margin-top: 47px;
  margin-bottom: 24px;
  padding: 0 130px;

  text-align: center;
  font-weight: bold;
  font-size: 21px;
  color: #000000;
}

.item-reason-bottom p {
  margin: 0 auto;
  margin-bottom: 21px;
  padding: 0 65px;

  color: #333333;
}

.item-reason-bottom p:nth-child(3) {
  margin: 0 auto;

  color: #333333;
}

.item-reason-bottom {
  background-color: #eeeeee;
}

.service {
  position: relative;
  width: 576px;
  margin: 0 auto;
  padding-top: 51px;

  text-align: center;
}

.service b {
  display: block;
  margin-bottom: 23px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.service p {
  margin: 0;
  margin-bottom: 48px;
  padding: 0 50px;

  line-height: 24px;
  color: #333333;
}

.btn-service {
  width: 568px;
  padding: 30px 0;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  word-spacing: 7px;
  text-transform: inherit;
  color: #ffffff;

  background-color: #766357;
  border: none;
  border-radius: 0;
}

.btn-service:hover {
  background-color: #604e43;
}

.btn-service:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}
/* модальное окно ===================================*/
.search-hotels {
  position: absolute;
  left: 4px;

  display: flex;
  width: 568px;
  min-height: 395px;

  background-color: #ffffff;
}

.search-hotels-form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: auto;
  width: 458px;
  min-height: 285px;
}

.search-field {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.search-field-quantity {
  width: 50%;
}

.search-control {
  position: relative;
}

.search-field label {
  display: block;

  font-weight: bold;
  line-height: 26px;
}

.search-field-quantity label[for^= "quantity-kids"] {
  margin-left: 50px;
}

.search-field input {
  width: 346px;
  margin: 0;
  padding: 10px 0;
  padding-left: 13px;
  box-sizing: border-box;

  font-weight: bold;

  border: none;
  background-color: #f2f2f2;
}

.search-field-quantity input {
  width: 38px;
  padding: 11px 0;

  text-align: center;
}

.search-field input:hover {
  background-color: #ebebeb;
}

.search-field input:focus {
  background-color: #ffffff;
}

.calendar-btn {
  position: absolute;
  right: 9px;
  top: 7px;

  margin: 0px;
  padding: 0;

  background-color: transparent;
  border: none;
}

.search-control .calendar-btn-icon {
  fill: #cacaca;
}

.search-control .calendar-btn-icon:hover {
  fill: #000000;
}

.search-control .calendar-btn-icon:active {
  fill: #81b3d2;
}

/* Место для стилей кнопок минус плюс */


.search-field-quantity .container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.search-field-quantity .btn {
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;

  border: none;
  background-color: #f2f2f2;
}


.search-btn {
  display: inline-block;
  vertical-align: top;
  width: 458px;
  margin-top: 25px;

  font: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: inherit;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;
}

.search-btn:hover {
  background-color: #669ec0;
}

.search-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}
/* конец модального окна=========================================*/

.main-map {
  width: 1200px;
  min-height: 593px;
}

.footer-index {
  position: relative;

  margin-top: -126px;
}

.main-footer{
  display: flex;
  width: 1200px;
  min-height: 120px;

  background-color: rgba(255,255,255, 0.9);
}

.main-footer p:nth-child(1) {
  width: 240px;
  margin-top: 47px;
  margin-left: 133px;
  margin-right: 26px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}



.main-footer p:nth-child(3) {
  display: flex;
}

.main-footer span {
  display: block;
  margin: auto 0;
  margin-top: 31px;
  margin-right: 9px;
  padding:0;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.main-footer .author-logo {
  margin: auto 0;
  margin-top: 22px;
}

.main-footer .footer-social {
  display: flex;
  width: 400px;
  margin-right: 104px;

}

.footer-social .social-icon {

  fill: #ffffff;
 }

.footer-social .social-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 46px;
  height: 48px;
  margin: auto;

  background-color: #81b3d2;
}

.footer-social li {
  margin: auto;
  margin-right: 6px;

  background-color: #81b3d2;
 }

.footer-social li:nth-child(2) {
  margin-left: 0;
 }

.footer-social li:nth-child(3) {
  margin-left: 0;
  margin-right: auto;
 }

 .footer-social .social-btn:hover {
  background-color: #669ec0;
 }

 .footer-social .social-btn:active {
  background-color: #5496bd;
 }

 .footer-social .social-icon:active {
  /*-----------------------------------------------------требует расширение зоны нажатия-------------*/
  fill: rgba(255, 255, 255, 0.3);
 }

.footer-copyright {
  width: 241px;
}

 .academy-icon {
  fill: #231f20;
}

 .academy-icon:hover {
  fill: #81b3d2;
 }

.academy-icon:active {
  fill: #bdbbbc;
 }

/*------------------hotels.html-----------------------*/

.hotels-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
  min-height: 217px;
  margin: 0 auto;
}

.hotels-filter  legend {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.hotels-filter input[type= "checkbox"]:disabled + label {
  background-color: #6a6a6a;
}

.filter-container {
  width: 1200px;
  min-height: 217px;

  background-color: #81b3d2;
  background-image: url(../img/filter-hotel-bg.jpg);
}

.filter-container .filter-checkboxs {
  display: flex;
  flex-direction: column;
}

.hotels-filter .checkboxs-infrastructure {
  width: 240px;
  min-height: 167px;
  margin: 0;
  padding: 0;
}

.hotels-filter .checkboxs-housing {
  width: 288px;
  min-height: 167px;
  margin: 0;
  padding: 0;
}

.hotels-filter .filter-price {
  width: 328px;
  min-height: 167px;
  margin: 0;
  padding: 0;
}

.filter-container label {
  color: #ffffff;
}

.hotels-filter fieldset {
  border: none;
}

.filter-btn {
  font: inherit;
  color: #ffffff;
}

.sort {
  width: 1200px;
  min-height: 86px;

  border-bottom: 1px solid #e5e5e5;
}

.sort .sort-container {
  display: flex;
  width: 1056px;
  min-height: 86px;
  margin: 0 auto;
}

.sort-container p:nth-child(2) {
  margin: auto;
  margin-right: 49px;
  margin-left: 0;
}

.sort b,
.sort output {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sort-container .sort-properties {
  display: flex;
  width: 365px;
  min-height: 20px;
  margin: auto 0;
}

.sort-properties li {
  margin-right: 30px;
}

.sort-properties li:nth-child(1){
  margin-right: 37px;
}

.sort-properties span {
  font-size: 12px;
  line-height: 18px;
}

.sort-properties .sort-btn {
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 12px;
  line-height: 18px;
  color: rgba( 0, 0, 0, 0.3);

  background: none;
  border: none;
  border-radius: 0;
}

.sort-properties .sort-btn.current {
  color: #81b3d2;
}

.sort-properties .sort-btn:hover {
  color: #81b3d2;
}

.sort-properties .sort-btn:active {
  color: #000000;
}

.sort-container .sort-arrows {
  display: flex;

  margin: auto;
  margin-right: 0;
}

.sort-arrows .arrows-btn {
  padding: 0;
  margin: 0;

  background: none;
  border: none;
  border-radius: 0;
}

.sort-arrows .arrows-btn-icon {
  fill: #cacaca;
}

.sort-arrows svg.current {
  fill: #81b3d2;
}

.sort-arrows .arrows-btn-icon:hover {
  fill: #000000;
}
.sort-arrows.arrows-btn-icon:active {
  fill: #81b3d2;
}

.sort-found {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 452px;
  margin: 0 auto;
  padding: 0;
}

.sort-found .search-item {
  min-height: 150px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

.search-item .item-container {
  display: flex;
  width: 1056px;
  min-height: 150px;
  margin: 0 auto;
}

.search-item img {
  /*----------Разобраться с селектором---------*/
  width: 135px;
  min-height: 90px;
  margin: auto 0;
  margin-right: 30px;
}

.search-item .item-info {
  width: 364px;
  min-height: 90px;
  margin: auto 0;
}

.item-info h3{
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.item-info p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

.search-item a{
  color: #000000;
}

.search-item a:hover {
  color: #81b3d2;
}

.search-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-item h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.search-item h3:hover {
  color: #81b3d2;
}

.search-item h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-item p {
  color: #333333;
}

.item-info .btn {
  display: inline-block;
  padding: 5px 0;

  text-align: center;
  font: inherit;
  font-weight: bold;
  color: #ffffff;
}

.btn-details {
  width: 110px;

  background-color: #81b3d2;
}

.item-info .btn-details:hover {
  background-color: #669ec0;
}

.item-info .btn-details:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.btn-reserve-it {
  width: 142px;

  background-color: #766357;
}

.item-info .btn-reserve-it:hover {
  background-color: #604e43;
}

.item-info .btn-reserve-it:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.search-item .item-rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 135;
  min-height: 90px;
  margin: auto 0;
  margin-left: auto;
}

.item-rate .rate-star {
  display: flex;
}

.rate-star li,
.rate-star img {
  width: 18px;
  min-height: 18px;
}

.item-rate span {
  color: #666666;

  background: #f2f2f2;
}
